@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/JosefinSans-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'TenorSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/TenorSans-Regular.woff2") format("woff2")
}