@font-face {
  font-family: 'Ephesis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Ephesis-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'NovaSquare';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/NovaSquare-Regular.woff2") format("woff2")
}
