@font-face {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Macondo-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/UbuntuMono-Regular.woff2") format("woff2")
}