@mixin mb-80 {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

@mixin mb-100 {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

@mixin mb-32 {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

@mixin mb-16 {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@mixin mb-24 {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

@mixin mb-8 {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@mixin mb-48-24 {
  &:not(:last-child) {
    margin-bottom: 48px;

    @media (max-width: 991px) {
      margin-bottom: 24px;
    }

  }
}

.header {
  padding: 24px 0;

  &__menu {
    padding: 10px 24px;
    border-left: 1px solid rgba(0, 0, 0, .14);
    border-right: 1px solid rgba(0, 0, 0, .14);
    width: fit-content;
    margin: 0 auto;

    @media (max-width: 991px) {
      margin: 0;
      border: none;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-page);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      top: 30px;
      right: 30px;
    }

    @media (max-width: 600px) {
      top: 15px;
      right: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 50px;
    }

    &_footer {
      justify-content: flex-end;

      @media (max-width: 991px) {
        flex-direction: row;
        gap: 10px 32px;
      }

    }
  }

  &__item {}

  &__link {
    color: var(--main);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}


.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 30px;
  height: 16px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--black);
    border-radius: 8px;
  }
}

// ======================================================================================================================================================

.hero {
  @include mb-80();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: var(--linear);
  }

  &__container {
    display: flex;
    align-items: flex-end;
    min-height: 722px;
    padding-bottom: 49px;
    padding-top: 49px;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      padding-bottom: 39px;
      padding-top: 39px;
    }
  }

  &__descr {
    flex: 0 1 961px;
    width: 100%;
  }

  &__wrapper-texts {
    @include mb-24();
    width: 100%;
    max-width: 470px;
  }

  &__texts {
    flex: 1;
    width: 100%;
  }

  &__text {
    @include mb-8();
    color: var(--white);
  }

  &__title {
    @include mb-8();
    color: var(--white);
  }
}

// ======================================================================================================================================================

.unter {
  @include mb-80();
  position: relative;

  &__title {
    position: relative;
    z-index: 4;
    @include mb-32();
    color: var(--main);
  }
}

.wrapper-unter-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px 69px;

  @media (max-width: 991px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  &__pagination {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content !important;
    flex-shrink: 0;
    padding: 24px;
    background-color: var(--background-page);

    @media (max-width: 991px) {
      flex-direction: row;
      justify-content: center;
      padding: 0;
      width: 100% !important;
      background-color: transparent;
      position: static;
    }

    & .swiper-pagination-bullet {
      border-radius: 20px;
      opacity: .2;
      width: 4px;
      height: 10px;
      background-color: var(--black);
      flex-shrink: 0;
      margin: 0 !important;

      @media (max-width: 991px) {
        height: 4px;
        width: 10px;
      }
    }

    & .swiper-pagination-bullet-active {
      width: 4px;
      height: 26px;
      opacity: 1;

      @media (max-width: 991px) {
        height: 4px;
        width: 26px;
      }
    }
  }
}

.unter-slider-pagination {}

.unter-slider {
  position: relative;
  z-index: 1;
  flex: 1;
  width: 100%;
  overflow: visible;

  &__slide {
    width: 448px;
    background-color: var(--l-gray);
    box-shadow: var(--box-shadow);
    min-width: 0;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 278px;

    @media (max-width: 600px) {
      height: 250px;
    }

    @media (max-width: 400px) {
      height: 204px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__descr {
    width: 100%;
    padding: 16px 16px 24px 16px;

    @media (max-width: 600px) {
      padding: 8px 8px 49px 8px;
    }
  }

  &__name {
    @include mb-8();
    color: var(--main);
  }

  &__info {
    @include mb-8();
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }

  &__info-item {
    color: var(--main);
    opacity: .5;
    display: flex;
    align-items: center;
    gap: 5px;

    &:not(:last-child) {
      &::after {
        content: "/";
        color: var(--main);
        opacity: .5;
      }
    }
  }

  &__texts {
    width: 100%;
  }

  &__text {
    @include mb-8();
    color: var(--main);
  }
}

// ======================================================================================================================================================

.services {
  @include mb-80();

  &__title {
    @include mb-48-24();
    color: var(--main);
  }

  &__content {
    display: grid;
    align-items: flex-start;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px 32px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }

  }

  &__list {
    width: 100%;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 40px 36px;

    @media (max-width: 991px) {
      gap: 36px;
    }

    @media (max-width: 768px) {
      grid-template: auto / repeat(2, 1fr);
    }
  }

  &__item {
    width: 100%;
    padding-right: 16px;

    &:nth-child(3n) {
      border: none !important;

      @media (max-width: 768px) {
        border-right: 1px solid var(--black) !important;
      }
    }

    &:nth-child(2n) {
      @media (max-width: 768px) {
        border: none !important;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid var(--black);
    }
  }

  &__item-content {
    min-width: 130px;
    width: fit-content;
    padding-bottom: 12px;

    @media (max-width: 991px) {
      margin: 0 auto;
    }

    @media (max-width: 400px) {
      min-width: 0;
    }
  }

  &__icon {
    @include mb-8();
    width: 24px;
    height: 24px;
    margin: 0 auto;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__subtitle {
    @include mb-8();
    text-align: center;
    color: var(--main);
  }

  &__texts {
    width: 100%;
  }

  &__text {
    @include mb-8();
    color: var(--main);
  }
}

// ======================================================================================================================================================

.bietet {
  @include mb-80();

  &__title {
    @include mb-24();
    color: var(--main);
  }

  &__texts {
    @include mb-16();
    width: 100%;
  }

  &__text {
    @include mb-8();
    color: var(--main);
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    min-height: 304px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
    display: flex;
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--linear);
      z-index: 1;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 2;
    color: var(--white);
  }
}

// ======================================================================================================================================================

.sot {
  @include mb-80();

  &__title {
    @include mb-24();
    color: var(--main);
  }

  &__content {
    display: flex;
    gap: 24px 32px;

    @media (max-width: 991px) {
      flex-direction: column;
    }

  }

  &__left {
    flex: 0 1 352px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex: none;
    }
  }

  &__texts {
    @include mb-16();
    width: 100%;
    -webkit-line-clamp: 11;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: 991px) {
      -webkit-line-clamp: 6;
    }

    @media (max-width: 400px) {
      -webkit-line-clamp: 13;
    }
  }

  &__text {
    @include mb-16();
    color: var(--main);
  }

  &__link {}

  &__images {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px 32px;
    flex: 0 1 736px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
      gap: 24px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    width: 100%;
    height: 433px;

    @media (max-width: 600px) {
      height: 400px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.slots {
  @include mb-80();
  padding-top: 80px;

  &__list {
    @include mb-32();
    width: 100%;
  }

  &__item {
    @include mb-100();
    width: 100%;

    &:nth-child(even) {

      & .slots__content {
        flex-direction: row-reverse;

        @media (max-width: 991px) {
          flex-direction: column;
        }
      }

    }

    &:nth-child(odd) {

      & .slots__content {
        flex-direction: row;

        @media (max-width: 991px) {
          flex-direction: column;
        }
      }

    }
  }

  &__title {
    @include mb-16();
    color: var(--main);
  }

  &__content {
    display: flex;
    width: 100%;
    gap: 24px 32px;
  }

  &__image {
    display: block;
    width: 100%;
    min-height: 312px;
    flex: 0 1 50%;

    @media (max-width: 991px) {
      flex: none;
      min-height: 0;
      height: 300px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__texts {
    flex: 0 1 50%;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__text {
    @include mb-16();
    color: var(--main);
  }

  &__main-image {
    display: block;
    width: 100%;
    height: 450px;

    @media (max-width: 991ox) {
      height: 340px;
    }

    @media (max-width: 600px) {
      height: 260px;
    }

    @media (max-width: 400px) {
      height: 132px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.contacts {
  @include mb-8();
  padding-top: 80px;

  &__title {
    @include mb-16();
    color: var(--main);
  }

  &__top {
    @include mb-100();
    display: flex;
    align-items: flex-start;
    gap: 24px 32px;

    @media (max-width: 991px) {
      flex-direction: column;
    }

  }

  &__texts {
    flex: 0 1 352px;
    width: 100%;

    @media (max-width: 991px) {
      flex: none;
    }

  }

  &__text {
    @include mb-8();
    color: var(--main);
  }

  &__bottom {
    @include mb-16();
    width: 100%;
  }

  &__map {
    @include mb-16();
    width: 100%;
    height: 414px;

    @media (max-width: 991px) {
      height: 340px;
    }

    @media (max-width: 600px) {
      height: 280px;
    }

    @media (max-width: 400px) {
      height: 122px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__address {
    width: 100%;
    font-style: normal;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px 24px;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main);

    & a {
      color: inherit;
      transition: color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: var(--hover);
        }
      }

      &:focus-visible {
        color: var(--hover);
      }

      &:active {
        color: var(--active);
        transition-duration: .1s;
      }
    }

    & img {
      display: block;
      width: 26px;
      height: 26px;
      flex-shrink: 0;
      object-fit: contain;
      object-position: center;
    }
  }
}

.form {
  flex: 0 1 735px;
  width: 100%;

  @media (max-width: 991px) {
    flex: none;
  }

  &__inputs {
    @include mb-24();
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__input {}

  &__button {
    margin-left: auto;
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 49px;

  @media (max-width: 991px) {
    padding-bottom: 68px;
  }

  &__top {
    @include mb-32();
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px 32px;

    @media (max-width: 991px) {
      justify-content: flex-start;
      flex-direction: column;
    }

  }

  &__war {
    display: block;
    flex: 0 0 59px;
    height: 59px;

    @media (max-width: 991px) {
      order: 1;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px 32px;
  }

  &__bottom-right {
    width: fit-content;

    @media (max-width: 991px) {
      order: 2;
    }
  }

  &__icons {
    @include mb-16();
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px 30px;
  }

  &__icon {
    flex: 0 0 45px;
    height: 45px;

    & a {
      display: block;
      width: 100%;
      height: 100%;
      transition: opacity .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          opacity: .6;
        }
      }

      &:focus-visible {
        opacity: .6;
      }

      &:active {
        opacity: .6;
        transition-duration: .1s;
      }

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.cookie {
  flex: 0 1 546px;
  width: 100%;

  @media (max-width: 991px) {
    flex: none;
    order: 2;
  }

  &__texts {
    width: 100%;
  }

  &__text {
    @include mb-8();
    color: var(--main);
    opacity: .5;
  }

  &__link {
    display: block;
    width: fit-content;
    margin-left: auto;
    padding: 0 13px 4px 13px;
    color: var(--main);
    border-bottom: 1px solid var(--main);
    transition: color .3s ease-in-out, border-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
        border-color: var(--hover);
      }
    }

    &:focus-visible {
      color: var(--hover);
      border-color: var(--hover);
    }

    &:active {
      color: var(--active);
      border-color: var(--active);
      transition-duration: .1s;
    }
  }
}

.support {
  width: fit-content;

  @media (max-width: 991px) {
    order: 1;
    width: 100%;
  }

  &__title {
    @include mb-16();
    color: var(--main);
  }

  &__link {

    @media (max-width: 400px) {
      font-size: 14px;
    }
  }
}



// ======================================================================================================================================================

.terms {
  padding: 80px 0 0 0;


  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--main);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}