@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Exo-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Exo-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'PollerOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/PollerOne-Regular.woff2") format("woff2")
}