@font-face {
  font-family: 'PlaypenSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/PlaypenSans-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'ZillaSlab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/ZillaSlab-Regular.woff2") format("woff2")
}
