@font-face {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/MontserratAlternates-Medium.woff2") format("woff2")
}
@font-face {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/MontserratAlternates-Regular.woff2") format("woff2")
}